.textfield {
  margin-bottom: 30px;
}

.textfield input {
  display: block;
  width: 100%;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  min-height: 52px;
  font-size: 20px;
  padding: 0 10px;
}

.textfield label {
  font-size: 20px;
  font-weight: 500;
}

.error {
  color: red;
  margin-top: 4px;
}
